---

- name: Create required directories
  file:
    path: "{{ stingar_base }}"
    state: directory

- name: Download honeypot deployments
  git:
    repo: "{{ stingar_hp_repo }}"
    dest: "{{ stingar_base }}/stingar-ansible-deploy-honeypots"

- name: Copy in docker-compose stuff
  template:
    src: "{{ item }}.j2"
    dest: "{{ stingar_base }}/{{ item }}"
  with_items:
    - "stingar.env"
    - "docker-compose.yaml"

- name: Start up containers
  docker_service:
    project_src: "{{ stingar_base }}"
