---

- name: Look up config information
  shell: curl http://localhost:9200/config/_search | jq .hits.hits[-1]._source
  register: config_info_raw
  delegate_to: localhost

- name: Read the raw config info from json
  set_fact:
    config_info: "{{ config_info_raw.stdout | from_json }}"

- debug:
    var: config_info

- name: Create required directories
  file:
    path: "{{ stingar_base }}"
    state: directory

- name: Download honeypot deployments
  git:
    repo: "{{ stingar_hp_repo }}"
    dest: "{{ stingar_base }}/stingar-honeypots"

- name: Copy certificates locally
  synchronize:
    src: "/srv/certificates/{{ inventory_hostname }}"
    dest: "/srv/tls"
  delegate_to: localhost

- name: Copy in docker-compose stuff
  template:
    src: "{{ item }}.j2"
    dest: "{{ stingar_base }}/{{ item }}"
  with_items:
    - "stingar.env"
    - "docker-compose.yaml"

- name: Start up containers
  docker_service:
    project_src: "{{ stingar_base }}"
